*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
  color: var(--color-text-main);
}

ul {
  list-style-type: none;
}

li {
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.title {
  font-size: var(--h1-size);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.h2-title {
  font-size: var(--h2-size);
  color: var(--color-text-main);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.h6-title {
  font-size: var(--h6-size);
  color: var(--color-text-main);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.h6-title-white {
  font-size: var(--h6-size);
  color: var(--color-text-white);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.h7-title {
  font-size: var(--h7-size);
}

.paragraph {
  font-size: var(--p-size);
  color: var(--color-text-main);
  line-height: 1.6rem;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.paragraph-sub {
  font-size: var(--p-size);
  color: var(--color-text-sub);
  line-height: 1.6rem;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.paragraph-inverse {
  font-size: var(--p-size);
  color: var(--color-text-inverse);
  line-height: 1.6rem;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.paragraph-white {
  font-size: var(--p-size);
  color: var(--color-text-white);
  line-height: 1.6rem;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.paragraph-grey {
  font-size: var(--p-size);
  color: var(--color-text-grey);
  line-height: 1.4rem;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.paragraph-little {
  font-size: var(--little-size);
  color: var(--color-text-main);
  line-height: 1.4rem;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.highlight {
  color: var(--color-main);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
  font-weight: 600;
}

.highlight-yellow {
  color: var(--color-click);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.btn {
  border-radius: 25rem;
  cursor: pointer;
  background-color: var(--color-click);
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: var(--p-size);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  color: #1f1f1f;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.btn-line {
  border-radius: 25rem;
  cursor: pointer;
  border: 1px solid white;
  padding: 0.8rem 1.6rem;
  font-size: var(--p-size);
  -webkit-box-shadow: 0 0.3rem 3rem 0.4rem rgba(0, 0, 0, 0.164);
          box-shadow: 0 0.3rem 3rem 0.4rem rgba(0, 0, 0, 0.164);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background-color: none;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-line:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-cnt {
  display: -ms-grid;
  display: grid;
}

.txt-type > .txt {
  border-right: 0.1rem solid var(--color-text-inverse);
}

button,
input,
textarea {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

:root {
  --color-main: #3a54ae;
  --color-sec: #6ea8d8;
  --color-bg: #ecedf1;
  --color-bg2: #ffffff;
  --color-gb-main-1: #ecedf1;
  --color-gb-main-2: #ecedf1;
  --color-text-main: #272727;
  --color-text-sub: #3b3b3b;
  --color-text-inverse: #ececec;
  --color-nav-open: #ecedf1e6;
  --color-text-white: #ececec;
  --color-text-grey: #dbdbdb;
  --color-click: #facf43;
  --color-transparent: transparent;
  --wave-1: rgba(236, 237, 241, 0.7);
  --wave-2: rgba(236, 237, 241, 0.5);
  --wave-3: rgba(236, 237, 241, 0.3);
  --h7-size: 6rem;
  --h1-size: 3.75rem;
  --h2-size: 3rem;
  --h6-size: 1.5rem;
  --p-size: 1.125rem;
  --little-size: 0.8rem;
  --level-one: translateZ(13rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  --speed-one: 0.5s ease-in-out;
  --speed-half: 0.2s ease-in-out;
}

[data-theme='dark'] {
  --color-main: #7e246f;
  --color-sec: #c03e54;
  --color-bg: #1b1b1b;
  --color-bg2: #272727;
  --color-gb-main-1: #ecedf1;
  --color-gb-main-2: rgb(27, 27, 27);
  --color-text-white: #f8f8f8;
  --color-text-grey: #bebebe;
  --color-nav-open: #1b1b1be6;
  --wave-1: rgba(27, 27, 27, 0.7);
  --wave-2: rgba(27, 27, 27, 0.5);
  --wave-3: rgba(27, 27, 27, 0.3);
  --color-click: #b6e92b;
  --color-text-main: #f0f0f0;
  --color-text-sub: #c8c8c8;
  --color-text-inverse: #f3f3f3;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 var(--color-click);
            box-shadow: 0 0 0 0 var(--color-click);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 15px #38a1dd00;
            box-shadow: 0 0 0 15px #38a1dd00;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 var(--color-click);
            box-shadow: 0 0 0 0 var(--color-click);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 15px #38a1dd00;
            box-shadow: 0 0 0 15px #38a1dd00;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes modalopen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalopen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bd-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav {
  height: 3rem;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.header-nav {
  width: 100%;
  position: fixed;
  padding: 0 1.5rem;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.header-nav-logo {
  display: block;
  cursor: pointer;
}

.nav-scrolled {
  background-color: var(--color-bg);
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.logo {
  cursor: pointer;
}

.header-logo {
  height: 2rem;
  margin-left: 8rem;
}

.nav-img {
  opacity: 1;
}

.img-nav {
  opacity: 1;
}

.header-toggle {
  opacity: 0;
}

.ico-nav-cnt {
  padding: 1rem;
}

.ico-nav {
  margin: 0rem 0.4rem;
  height: 26px;
  opacity: 0;
}

.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10rem;
}

.theme-switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 50px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 18px;
  left: 4px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 18px;
}

input:checked + .slider {
  background-color: var(--color-main);
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header {
  background: linear-gradient(60deg, var(--color-sec) 0%, var(--color-main) 100%);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
  display: -ms-grid;
  display: grid;
  color: white;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 100vh min-content;
      grid-template-rows: 100vh -webkit-min-content;
      grid-template-rows: 100vh min-content;
}

.header-text-cnt {
  z-index: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  margin: 10rem 0rem 3rem 9rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.header-text-cnt p {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.header-btn {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.work-button {
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.model-cnt {
  margin-top: 5rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background: url(../../img/blob.svg) no-repeat;
  background-size: 40vw;
  background-position: center;
}

.model {
  width: 100%;
  height: 100%;
  --poster-color: transparent;
  --progress-bar-height: 1rem;
  --progress-bar-color: #ecedf1;
}

/*                                    WAVE BEGIN              */
/*                                    WAVE BEGIN              */
/*                                    WAVE BEGIN              */
.wave-cnt {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.waves {
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
  z-index: 1;
}

.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
}

.wave-last {
  fill: var(--color-bg);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.wave-mid-1 {
  fill: var(--wave-1);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.wave-mid-2 {
  fill: var(--wave-2);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.wave-mid-3 {
  fill: var(--wave-3);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.main {
  text-align: center;
  background: var(--color-bg);
  padding: 3rem 0rem;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.main h2 {
  margin: 2rem 0.1rem;
}

.card-section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.card-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 10rem;
}

.card {
  width: 20rem;
  margin: 2rem;
}

.card-content {
  text-align: center;
  position: relative;
  padding: 11em 5em;
  -webkit-transition: -webkit-transform 1.3s;
  transition: -webkit-transform 1.3s;
  transition: transform 1.3s;
  transition: transform 1.3s, -webkit-transform 1.3s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card:hover .card-content {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

.card-front,
.card-back {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  text-align: center;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.card-front {
  background-color: var(--color-bg2);
}

.card-body {
  -webkit-transform: var(--level-two);
          transform: var(--level-two);
}

.card-back {
  text-align: left;
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
  background: var(--color-bg2);
}

.card-ico {
  width: 10rem;
  height: auto;
  -webkit-transform: var(--level-two);
          transform: var(--level-two);
}

.card-html {
  width: 14rem;
  height: auto;
}

.card-react {
  width: 13rem;
  height: auto;
}

.card-mongodb {
  width: 13rem;
  height: auto;
}

.presentation {
  background-color: var(--color-main);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: fit-content 1rem 1fr 10rem;
      grid-template-rows: -webkit-fit-content 1rem 1fr 10rem;
      grid-template-rows: fit-content 1rem 1fr 10rem;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.wave-cnt-about {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  margin-bottom: 3rem;
}

.waves-about {
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  margin-top: -5rem;
  min-height: 100px;
  max-height: 150px;
  z-index: 8;
  fill: var(--color-main);
}

.wave-about-1 {
  fill: var(--color-main);
  z-index: 99;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.wave-cnt-about-2 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.waves-about-2 {
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  margin-top: 5rem;
  min-height: 100px;
  max-height: 150px;
  z-index: 8;
  fill: var(--color-main);
}

.wave-about-2 {
  fill: var(--color-bg);
  background: var(--color-main);
  z-index: 99;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.pr-h2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 3rem;
}

.pr-h2 h3 {
  color: var(--color-text-white);
}

.presentation-info {
  padding: 2rem 0rem;
}

.presentation-text-cnt {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  margin: 1rem 10rem 0rem 5rem;
}

.presentation-info {
  margin: 1rem;
  font-size: var(--h6-size);
}

.presentation-sub-cnt {
  background-color: var(--color-main);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.presentation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.presentation-list li {
  margin: 1rem;
}

.button-cnt {
  z-index: 1;
  margin: 0rem 1rem 1rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.button-cnt button {
  margin-top: 1rem;
}

.svg-up {
  background: var(--color-bg);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.svg-up path {
  fill: var(--color-main);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.svg-down {
  background: var(--color-main);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.svg-down path {
  fill: var(--color-bg);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.button-cnt button {
  width: 14rem;
}

.img-cnt {
  margin-left: -10rem;
  margin-top: 14rem;
}

.img-myself {
  width: 30vw;
  border-radius: 4rem;
}

.my-works-cnt {
  background-color: var(--color-bg);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.my-works {
  margin: 8rem 1rem;
  text-align: center;
}

.works-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work {
  width: 60vw;
  height: 20rem;
  margin: 2rem;
  padding: 2rem;
  border-radius: 3rem;
  background-color: var(--color-bg2);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.work-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.my-projects-cnt {
  background-color: var(--color-bg);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.my-projects {
  margin: 8rem 3rem;
  text-align: center;
}

.projects-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project {
  width: 30vw;
  height: 10rem;
  margin: 2rem;
  padding: 2rem;
  border-radius: 3rem;
  background-color: var(--color-bg2);
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.project:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.project-1 {
  background-image: url(../../img/project-1-little.jpg);
  background-position: center;
  background-size: 30vw;
  background-repeat: no-repeat;
  background-color: #dcdee4;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.698);
}

.modal-content {
  background-color: var(--color-bg);
  margin: 15% auto;
  padding: 2rem;
  width: 70vw;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.281);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.281);
  -webkit-animation: modalopen 1s;
          animation: modalopen 1s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
  border-radius: 1rem;
}

.modal-text h3 {
  margin-bottom: 1rem;
}

.modal-img-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-img-cnt img {
  width: 100%;
  border-radius: 1rem;
}

.contact-me-cnt {
  background-color: var(--color-bg);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  padding: 4rem 0rem;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.contact-me {
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: block;
  margin: 5rem 0rem;
}

.contact-me-text-cnt {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  margin-left: 3rem;
  margin-right: 10rem;
}

.contact-me-text-cnt h3 {
  margin-bottom: 2rem;
}

.contact-me-text-cnt p {
  margin-bottom: 1rem;
}

.contact-form {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

label {
  margin: 0rem 1rem;
  color: #858585;
}

.input-contact {
  width: 40vw;
  margin: 1rem;
  background-color: var(--color-bg2);
  padding: 1rem;
  border-radius: 2rem;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.input-message {
  margin: 1rem;
  background-color: var(--color-bg2);
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  resize: none;
  width: 40vw;
  -webkit-transition: var(--speed-one);
  transition: var(--speed-one);
}

.contact-btn {
  margin: 1rem;
  padding: 1rem;
  width: 40vw;
}

.ico-2 {
  width: 1.8rem;
  margin: 0.4rem 0.7rem 3rem 0rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.ico-2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform: rotateY(360);
          transform: rotateY(360);
}

.ico-cnt a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 92%;
  }
  .header-text-cnt {
    z-index: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    margin-top: 8rem;
    margin-left: 9rem;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .img-cnt {
    margin-left: -7rem;
    margin-top: 15rem;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 82%;
  }
  .img-cnt {
    margin-left: -10rem;
    margin-top: 15rem;
  }
  .waves-about {
    margin-top: -8rem;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 74%;
  }
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: minmax(27rem, 50vh) 50vh 1fr;
        grid-template-rows: minmax(27rem, 50vh) 50vh 1fr;
  }
  .header-text-cnt {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin-top: 8rem;
    margin-left: -1rem;
  }
  .model-cnt {
    margin: 2rem 0rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .wave-cnt {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .presentation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 5rem 1fr;
        grid-template-rows: 5rem 1fr;
  }
  .presentation-text-cnt {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin: 10rem 10rem 2rem 5rem;
  }
  .presentation-sub-cnt {
    background-color: var(--color-main);
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .img-cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .header-logo {
    height: 2rem;
    margin-left: 0rem;
  }
  .bd-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-nav {
    height: 4rem;
  }
  .ico-nav {
    opacity: 1;
  }
  .header-toggle {
    font-size: 3.5rem;
    color: var(--color-text-main);
    cursor: pointer;
    opacity: 1;
  }
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--color-nav-open);
    color: var(--color-text-main);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: 100;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.nav-content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
      grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
      grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 2.3rem;
  padding: 0.25rem;
  background-color: var(--color-bg2);
  border-radius: 50%;
  cursor: pointer;
}

.nav-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.25rem;
  margin-bottom: 0.8rem;
  width: 56px;
  height: 56px;
  border-radius: 2rem;
  overflow: hidden;
}

.nav-img img {
  width: 56px;
}

.nav-menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-item {
  margin: 2.5rem 0;
}

.nav-link {
  color: var(--color-text-main);
  cursor: pointer;
}

.nav-social {
  padding-top: 0.5rem;
}

.nav-social-icon {
  font-size: 1.2rem;
  color: var(--color-text-main);
  margin-right: 1rem;
}

.show {
  left: 0;
}

.active {
  color: var(--color-main);
}

@media screen and (min-width: 768px) {
  .nav-img {
    opacity: 0;
  }
  .img-nav {
    opacity: 0;
  }
  .nav {
    width: 100%;
  }
  .nav-content {
    -ms-grid-columns: (max-content)[3];
        grid-template-columns: repeat(3, -webkit-max-content);
        grid-template-columns: repeat(3, max-content);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-close {
    display: none;
  }
  .nav-perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-img {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-img img {
    width: 26px;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-item {
    margin: 0 0.25rem;
  }
  .nav-link {
    padding: 0.5rem 0.8rem;
    border-radius: 1.25rem;
  }
  .nav-link:hover {
    background-color: var(--color-main);
    color: var(--color-text-inverse);
  }
  .focus {
    background-color: var(--color-main);
    color: var(--color-text-inverse);
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 64%;
  }
  .ico-cnt {
    display: none;
  }
  .header-text-cnt {
    margin-top: 12rem;
  }
  .nav-menu li {
    font-size: 2rem;
  }
  .presentation-text-cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 9rem 0rem 3rem 0rem;
  }
  .theme-switch-wrapper {
    margin-left: 3rem;
    margin-right: 1rem;
  }
  .theme-switch {
    height: 20px;
    width: 40px;
  }
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: '';
    height: 13px;
    left: 4px;
    position: absolute;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 13px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(19px);
            transform: translateX(19px);
  }
  .contact-me-cnt {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: fit-content 1fr;
        grid-template-rows: -webkit-fit-content 1fr;
        grid-template-rows: fit-content 1fr;
    padding: 4rem 0rem;
  }
  .contact-me-text-cnt {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    text-align: center;
    margin: 0rem 2rem;
    margin-top: 20rem;
  }
  .contact-form {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .input-contact {
    width: 70vw;
  }
  .input-message {
    width: 70vw;
  }
  .contact-btn {
    width: 70vw;
  }
  .contact-me {
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    display: block;
    margin: 5rem 0rem;
  }
  .modal-content {
    background-color: var(--color-bg);
    margin: 25% auto;
    padding: 2rem;
    width: 80vw;
  }
}

@media screen and (max-width: 550px) {
  .header-text-cnt {
    margin: 13rem 2rem;
  }
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: minmax(34rem, 55vh) 80vh 1fr;
        grid-template-rows: minmax(34rem, 55vh) 80vh 1fr;
  }
  .model-cnt {
    background-size: 65vw;
    margin-top: 6rem;
  }
  .waves-about {
    margin-top: -9rem;
  }
  .modal-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }
  .modal-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 /3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    text-align: center;
  }
  .modal-img-cnt {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 55%;
  }
  .model-cnt {
    margin-top: 10rem;
  }
  .model-cnt {
    margin: 9rem 0rem 5rem 0rem;
  }
}

#error {
  color: black;
}

@media screen and (max-width: 238px) {
  html {
    font-size: 40%;
  }
  .waves-about {
    margin-top: -19rem;
  }
}

#error {
  background-color: #ffffffdd;
  border-radius: 16px;
  padding: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#error.hide {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 2s, opacity 1s 1s;
  transition: visibility 2s, opacity 1s 1s;
}
/*# sourceMappingURL=main.css.map */