*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
  color: var(--color-text-main);
}

ul {
  list-style-type: none;
}

li {
  transition: var(--speed-one);
}

.title {
  font-size: var(--h1-size);
  transition: var(--speed-one);
}

.h2-title {
  font-size: var(--h2-size);
  color: var(--color-text-main);
  transition: var(--speed-one);
}

.h6-title {
  font-size: var(--h6-size);
  color: var(--color-text-main);
  transition: var(--speed-one);
}

.h6-title-white {
  font-size: var(--h6-size);
  color: var(--color-text-white);
  transition: var(--speed-one);
}

.h7-title {
  font-size: var(--h7-size);
}

.paragraph {
  font-size: var(--p-size);
  color: var(--color-text-main);
  line-height: 1.6rem;
  transition: var(--speed-one);
}

.paragraph-sub {
  font-size: var(--p-size);
  color: var(--color-text-sub);
  line-height: 1.6rem;
  transition: var(--speed-one);
}

.paragraph-inverse {
  font-size: var(--p-size);
  color: var(--color-text-inverse);
  line-height: 1.6rem;
  transition: var(--speed-one);
}

.paragraph-white {
  font-size: var(--p-size);
  color: var(--color-text-white);
  line-height: 1.6rem;
  transition: var(--speed-one);
}

.paragraph-grey {
  font-size: var(--p-size);
  color: var(--color-text-grey);
  line-height: 1.4rem;
  transition: var(--speed-one);
}

.paragraph-little {
  font-size: var(--little-size);
  color: var(--color-text-main);
  line-height: 1.4rem;
  transition: var(--speed-one);
}

.highlight {
  color: var(--color-main);
  transition: var(--speed-one);
  font-weight: 600;
}

.highlight-yellow {
  color: var(--color-click);
  transition: var(--speed-one);
}

.btn {
  border-radius: 25rem;
  cursor: pointer;
  background-color: var(--color-click);
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: var(--p-size);
  transition: 0.4s ease-in-out;
  color: rgb(31, 31, 31);
  transform-style: preserve-3d;
}

.btn-line {
  border-radius: 25rem;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  padding: 0.8rem 1.6rem;
  font-size: var(--p-size);
  box-shadow: 0 0.3rem 3rem 0.4rem rgba(0, 0, 0, 0.164);
  transition: 0.4s ease-in-out;
  background-color: none;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-line:hover {
  transform: scale(1.1);
}

.main-cnt {
  display: grid;
}

.txt-type > .txt {
  border-right: 0.1rem solid var(--color-text-inverse);
}

button,
input,
textarea {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
