.presentation {
  background-color: var(--color-main);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5rem 1rem 1fr 10rem;
  transition: var(--speed-one);
}

.wave-cnt-about {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  margin-bottom: 3rem;
}

.waves-about {
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  margin-top: -5rem;
  min-height: 100px;
  max-height: 150px;
  z-index: 8;
  fill: var(--color-main);
}

.wave-about-1 {
  fill: var(--color-main);
  z-index: 99;
  transition: var(--speed-one);
}

.wave-cnt-about-2 {
  grid-row: 5 / 6;
  grid-column: 1 / 3;
}

.waves-about-2 {
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  margin-top: 5rem;
  min-height: 100px;
  max-height: 150px;
  z-index: 8;
  fill: var(--color-main);
}

.wave-about-2 {
  fill: var(--color-bg);
  background: var(--color-main);
  z-index: 99;
  transition: var(--speed-one);
}

.pr-h2 {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem 3rem;
}

.pr-h2 h2 {
  color: var(--color-text-white);
}

.presentation-text-cnt {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  margin: 10rem 10rem 2rem 5rem;
}

.presentation-text-cnt h4 {
  margin: 1rem;
  font-size: var(--h6-size);
}

.presentation-sub-cnt {
  background-color: var(--color-main);
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  transition: var(--speed-one);
}

.presentation-list {
  display: flex;
}

.presentation-list li {
  margin: 1rem;
}

.button-cnt {
  z-index: 1;
  margin: 0rem 1rem 1rem 5rem;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.button-cnt button {
  margin-top: 1rem;
}

.svg-up {
  background: var(--color-bg);
  transition: var(--speed-one);
}

.svg-up path {
  fill: var(--color-main);
  transition: var(--speed-one);
}
.svg-down {
  background: var(--color-main);
  transition: var(--speed-one);
}

.svg-down path {
  fill: var(--color-bg);
  transition: var(--speed-one);
}

.button-cnt button {
  width: 14rem;
}

.img-cnt {
  margin-left: -10rem;
  margin-top: 14rem;
}

.img-myself {
  width: 30vw;
  border-radius: 4rem;
}
