.contact-me-cnt {
  background-color: var(--color-bg);
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 4rem 0rem;
  transition: var(--speed-one);
}

.contact-me {
  text-align: center;
  grid-column: 1 / 3;
  display: block;
  margin: 5rem 0rem;
}

.contact-me-text-cnt {
  grid-column: 1 / 2;
  margin-left: 3rem;
  margin-right: 10rem;
}

.contact-me-text-cnt h3 {
  margin-bottom: 2rem;
}

.contact-me-text-cnt p {
  margin-bottom: 1rem;
}

.contact-form {
  grid-column: 2 / 3;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

label {
  margin: 0rem 1rem;
  color: var(--color-text-main);
  transition: var(--speed-one);
}

.input-contact {
  width: 40vw;
  margin: 1rem;
  background-color: var(--color-bg2);
  padding: 1rem;
  border-radius: 2rem;
  transition: var(--speed-one);
}

.input-message {
  margin: 1rem;
  background-color: var(--color-bg2);
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  resize: none;
  width: 40vw;
  transition: var(--speed-one);
}

.contact-btn {
  margin: 1rem;
  padding: 1rem;
  width: 40vw;
}

.ico-2 {
  width: 1.8rem;
  margin: 0.4rem 0.7rem 3rem 0rem;
  transition: 0.4s;
}

.ico-2:hover {
  transform: scale(1.1);
  transform: rotateY(360);
}

.ico-cnt a {
  width: fit-content;
}
