.header {
  background: linear-gradient(
    60deg,
    var(--color-main) 0%,
    var(--color-sec) 100%
  );
  transition: var(--speed-one);
  display: grid;
  color: white;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 85vh 1fr;
}

.header-text-cnt {
  z-index: 3;
  grid-column: 1 / 2;
  margin-top: 12rem;
  margin-left: 5rem;
  grid-row: 1 / 2;
}

.header-text-cnt p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.header-btn {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.work-button {
  animation: pulse 2s infinite;
}

.model-cnt {
  margin-top: 5rem;
  grid-column: 2 / 3;
}

.model {
  width: 100%;
  height: 100%;
}

/*                                    WAVE BEGIN              */
/*                                    WAVE BEGIN              */
/*                                    WAVE BEGIN              */

.wave-cnt {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.waves {
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
  z-index: 1;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 8s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
}

.wave-last {
  fill: var(--color-bg);
  transition: var(--speed-one);
}

.wave-mid-1 {
  fill: var(--wave-1);
  transition: var(--speed-one);
}

.wave-mid-2 {
  fill: var(--wave-2);
  transition: var(--speed-one);
}

.wave-mid-3 {
  fill: var(--wave-3);
  transition: var(--speed-one);
}
