.bd-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.nav {
  height: 3rem;
  transition: var(--speed-one);
}

.header-nav {
  width: 100%;
  position: fixed;
  padding: 0 1.5rem;
  background-color: var(--color-bg);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--speed-one);

  &-logo {
    display: block;
    cursor: pointer;
  }
}

.logo {
  cursor: pointer;
}

.nav-img {
  opacity: 1;
}

.img-nav {
  opacity: 1;
}

.header-toggle {
  opacity: 0;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-left: 10rem;
}

.theme-switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 50px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 18px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 18px;
}

input:checked + .slider {
  background-color: var(--color-main);
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
