nav {
  position: fixed;
  height: 2rem;
  width: 100%;
  background-color: transparent;
  display: flex;
  z-index: 10;
  transition: var(--speed-one);
}

.nav-scrolled {
  position: fixed;
  height: 3rem;
  width: 100%;
  background-color: var(--color-bg);
  display: flex;
  z-index: 10;
  transition: var(--speed-one);
  filter: drop-shadow(0px 5px 5px rgba(2, 2, 2, 0.24));
}

.logo {
  padding: 1vh 1vw;
  text-align: center;
}
.logo img {
  height: 5rem;
  width: 5rem;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  transition: var(--speed-one);
}

.nav-links li {
  margin: 0 1vw;
  position: relative;
  cursor: pointer;
}

.links-scrolled {
  margin: 0 2vw;
  position: relative;
  transition: var(--speed-one);
}

.nav-links li a::before {
  content: '';
  display: block;
  height: 3px;
  width: 0%;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links li a:hover::before {
  width: 80%;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: var(--color-text-main);
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}
